<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Jobbatical Clone</title>
        
        <!-- Font Awesome Icons -->
        <link rel="stylesheet" href="/vendors/css/font-awesome.min.css">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/vendors/css/bootstrap.min.css" type="text/css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/styles.css" type="text/css">

        <!-- jquery -->
        <script src="/vendors/js/jquery-3.2.1.min.js"></script>   
        
        <!-- Bootstrap JS -->
        <script src="/vendors/js/bootstrap.min.js"></script>
        
        <!-- Custom JavaScript
        <script src="main.js"></script>  -->
    </head>    
    <body>

        <!-- Navbar -->
        
        <!-- End of Navabar -->
        

        <!-- placehold for body template here -->
        <%- body %>
        
        
        <!-- Footer -->
        <footer class="container-fluid">
            <div class="row">
            <div class="col-sm-2 col-sm-offset-2">
                <h5>For talent</h5>
                <ul class="list-unstyled">
                <li><a href="#">Home</a></li>
                <li><a href="#">Explore jobs</a></li>
                <li><a href="#">My profile</a></li>
                <li><a href="#">My saved jobs</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-sm-offset-1">
                <h5>For employers</h5>
                <ul class="list-unstyled">
                <li><a href="#">Post a job</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-sm-offset-1">
                <h5>About us</h5>
                <ul class="list-unstyled">
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Linkedin</a></li>
                </ul>
            </div>
            </div>
            <div class="row team-info">
            <div class="col-xs-12 col-sm-4 col-sm-offset-2">
                <span class="small">&copy; Bears Team 10</span>
                <a class="small" href="mailto:hello@bearsteam10.com">hello@bearsteam10.com</a>
            </div>
            <div class="col-xs-12 col-sm-4 text-right">
                <a class="small" href="#">Terms of service</a>
                <a class="small" href="#">Privacy policy</a>
            </div>
            </div>
        </footer>
    </body>
</html>