<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Jobbatical Clone</title>
        <link rel="stylesheet" href="/vendors/css/font-awesome.min.css"> <!-- Font Awesome Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700"> <!-- Google Fonts -->
        <link rel="stylesheet" href="/vendors/css/bootstrap.min.css" type="text/css"> <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/style.min.css" type="text/css"> <!-- Custom CSS -->
        <script src="/vendors/js/jquery-3.2.1.min.js"></script> <!-- jquery -->        
        <script src="/vendors/js/bootstrap.min.js"></script> <!-- Bootstrap JS -->
    </head>    
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Home</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/explore">Explore Jobs</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <% if (user.length <= 0) { %>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/signup">Signup</a></li>                            
                        <% } else { %>
                            <li><a href="/job-form">Post Job</a></li>
                            <li><a href="/logout">Logout</a></li>
                        <% } %>
                    </ul>
                </div>
                <!-- /.navbar-collapse --> 
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!-- End of Navabar -->

        <!-- placehold for body template here -->
        <%- body %>
        
        <!-- Footer -->
        <footer class="container-fluid">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-2">
                    <h4>For Talent</h4>
                    <ul class="list-unstyled">
                        <li><a href="/">Home</a></li>
                        <li><a href="/explore">Explore Jobs</a></li>
                    </ul>
                </div>
                <div class="col-sm-2 col-sm-offset-1">
                    <h4>For Employers</h4>
                    <ul class="list-unstyled">
                        <% if (user.length <= 0) { %>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/signup">Signup</a></li>                            
                        <% } else { %>
                            <li><a href="/job-form">Post Job</a></li>
                            <li><a href="/logout">Logout</a></li>
                        <% } %>
                    </ul>
                </div>
                <div class="col-sm-2 col-sm-offset-1">
                    <h4>About us</h4>
                    <ul class="list-unstyled">
                        <li class="social-icons">
                            <a href="https://github.com/bears-team-10" target="_blank">
                                <i class="fa fa-github fa-lg" aria-hidden="true"></i>                           
                                Github
                            </a>
                        </li>
                        <li class="social-icons">
                            <a href="mailto:bolu.ajibawo@gmail.com?Subject=Hello There">
                                <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>                           
                                Email
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row team-info">
                <div class="col-xs-12 col-sm-4 col-sm-offset-2">
                    <span class="small">
                        &copy; Bears Team 10 | 
                        <a href="https://chingu-cohorts.github.io/chingu-directory/" target="_blank">Chingu Project</a>                    
                    </span>
                </div>
            </div>
        </footer>
    </body>
</html>