html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    padding: 150px 15px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center;
    background-image: url('../images/header.jpg');
    color: #fff;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

footer {
    margin-top: 40px;
    padding-top: 60px;
}

.super-title {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 50px;
}

.landing-button {
    text-transform: uppercase;
    background-color: #1db6ef;
    width: 80%;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 20px
}

@media (min-width: 768px) {
    .landing-button {
        width: auto;
        margin-right: 30px
    }
}

.landing-button-text {
    padding-left: 10px;
    padding-right: 10px;
}

.sub-text {
    margin-top: 50px;
}

.section-title {
    font-size: 30px;
    color: blue;
    text-transform: uppercase;
    text-align: center;
}

.feature-card {
    margin-top: 40px;
    margin-bottom: 60px;
}

.job-title {
    font-size: 28px;
    font-weight: bold;
}

.view-jobs{
    display: flex;
    justify-content: center;
    align-items: center;
}


textarea {
  resize: vertical;
}

.hero {
  background-color: #fafafa;
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-container {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 40px;
}

.form-header {
  margin-bottom: 50px;
}

.form-footer {
  margin-top: 30px;
}

.form-container h1 {
  text-align: center;
  color: #1c75bc;
}

.form-control {
  border: 0 none #fff;
  border-radius: 0;
  background-color: #f2f2f2;
}

.btn-jobbatical {
  border-radius: 0;
  color: #fff;
  background-color: #03d091;
  text-transform: uppercase;
}

.team-info {
  margin-bottom: 10px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-nav li a {
  color: #666;
  text-transform: uppercase;
}