
        <section class="container">        
            <div class="jumbotron text-center">        
                <h2>Your Job has been added.</h2>
                <a href="/job-form" class="btn btn-primary btn-lg">
                    <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                    Post New Job
                </a>    
            </div>
        </section>