 
        <section class="container-fluid">
            <div class="form-container col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" >
                <h2 class="super-title">
                    Login<br>
                    <span class="job-title">( Employers Only )</span>
                </h2>
                
                <!-- Login Form -->

                <!-- Incorrect Input Error Message -->
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                <% } %>
                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input type="email" name="email" class="form-control" placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Enter Password" required>     
                    </div>
                    <button type="submit" class="btn btn-jobbatical">Submit</button>
                </form>
            </div>
        </section>